body{
    display:flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    font-family: Merr;
    /* max-width: 800px; */
    /* text-align:center; */
    
}
.container{
    background-color: black;
    width:1000px;
    display:grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
}
h1{
    background-color: #fba92c;
    display:flex;
    justify-content: center;
    justify-items: center;
    border:2px solid red;
}
ul{
    padding: 20px 20px;
}
.nav a {
    background-color:#ffffff ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:center;
}
