body{
    /* display:flex;
    justify-content: center; */
    margin: 0 20px;
    padding: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* padding: 0 20px; */
}
.container{
    background-color: black;
    /* width:1000px; */
    /* display:grid; */
    grid-template-columns: 1fr;
}
h1{
    background-color: #fba92c;
    text-align: center;
    border:2px solid red;
}
.nav{
    margin:0px;
    padding:0px;
    display:flex;
}
.nav a {
    background-color:#ffffff ;
}
 ul{
    padding: 20px 20px;
} 


